<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <div class="container-fluid">
    <div class = "navbar-brand">
      <%= image_tag("LL-logo-white-color.png", style:"width: 130px;")%>
    </div>


    <div>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <div class="d-flex align-items-center">
              <p class="username">Welcome back, <%= current_user.username %>!</p>
            </div>

          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
