<div class="landing-page">
  <%= image_tag "landingPageLogo.png", alt: "lift logix logo", style: "width: 250px; margin-bottom: 30px;" %>
  <p style="font-size: 16px">
      Easily track your lifts and <br>monitor progress with Lift Logix.
  </p>
  <%= link_to "Get started!", new_programme_path, class: "btn btn-get-started" %>
</div>
