#calendar{
  width: 390px;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.simple-calendar {

  table {
    width: 100%;
    td {
      height: 63px;
      padding: 0px;
      padding-left: 4px;
      width: 14.28%;

      div p{
        font-size: 8px;
        margin-bottom: 0;
        margin-top: 0;
      }
    }

  }
  .today {
    background-color: #FAF3DD;
  }
}

.simple-calendar .day {
  height: 50px;
  font-size: smaller;
}

.btn-calendar {
  border-radius: 8px;
  background-color: $primary-accent;
  padding: 4px 8px;

  a{
    color: white;
    p{
      color: white;
    }
  }

}

a {
  text-decoration: none;
  color: white;
}

.calendar-heading{
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 10px;
  align-items: center;


  span{
    font-size: x-large;
    font-weight: 500;
  }
}
