// Theme Colour Variables
$primary-bg: #121212;
$secondary-bg: #1E1E1E;
$navbar-bg: #000000;

$primary-text: #E0E0E0;
$secondary-text: #B0B0B0;

$primary-accent: #00ADB5;    // Electric Blue
$secondary-accent: #BB86FC;  // Vivid Purple
$error-color: #FF5252;       // Bright Red
